body {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  margin: 0;
  font-size: 16px;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clock {
  font-size: 46px;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  height: calc(100vh - 24px - 55px);
}

.title-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-size: 66px;
  display: block;
  font-weight: bold;
}

.input {
  border: 0;
  background: rgb(244 247 248);
  color: rgb(44 61 79);
  border-radius: 12px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 14px 20px;
  width: 300px;
  outline: none;
  box-shadow: 0 8px 40px -5px rgb(0 0 0 / 9%);
}

.todo-container {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.todo-container .input {
  width: 360px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.todo-wrapper {
  background: rgba(255 255 255 / 0.3);
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 50px 20px 0;
  height: 300px;
  overflow-y: scroll;
}

.todo-wrapper li {
  color: rgb(44 61 79);
  background: rgba(255 255 255 / 0.7);
  border-radius: 10px;
  padding: 6px 50px 6px 50px;
  margin-bottom: 16px;
  line-height: 125%;
  vertical-align: top;
  position: relative;
}

del {
  color: rgba(44 61 79 / 0.4);
}

.todo-wrapper li button {
  border: 0;
  cursor: pointer;
  outline: 0;
}

.check-button {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  position: absolute;
  background: white;
  left: 0;
  margin-left: 10px;
  top: 0;
  margin-top: -6px;
  border: 2px solid gainsboro !important;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.check-button:hover {
  background: gainsboro;
  box-shadow: 0 8px 40px -5px rgb(0 0 0 / 9%);
}

.check-button.checked {
  background: rgb(26, 92, 255);
  border-color: rgb(26, 92, 255) !important;
  top: -2px;
  height: 32px;
}

.check-button.checked:before {
  content: "\2713";
  display: block;
  color: white;
  font-size: 20px;
  height: 18px;
}

.delete-button {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  border-radius: 6px;
  background: transparent;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.delete-button:hover {
  background: white;
  box-shadow: 0 8px 40px -5px rgb(0 0 0 / 9%);
}

.delete-button:before {
  content: "X";
  display: block;
  color: rgb(44 61 79);
}
