body {
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clock {
  font-size: 46px;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
